<footer class="container-fluid p-0">
    <div class="bg-dark text-center p-1 text-white">
        <div class="pt-1">
            <a href="#" target="_blank"><i class="fas fa-envelope fa-2x m-1 text-white"></i></a>

            <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-2x m-1 text-white"></i></a>

            <a href="https://github.com/" target="_blank"><i class="fab fa-github fa-2x m-1 text-white"></i></a>
        </div>
        <p>Copyright &#169; 2024 @RY-SOLUTIONS</p>
    </div>
</footer>
